SECRET_KEY=SECRET_KEY
DEBUG=DEBUG
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_NAME=POSTGRES_NAME
POSTGRES_USER=POSTGRES_USER
POSTGRES_DB=POSTGRES_DB
POSTGRES_HOST=POSTGRES_HOST
POSTGRES_PORT=POSTGRES_PORT
PGDATA=PGDATA
CELERY_BROKER_URL=CELERY_BROKER_URL
CELERY_RESULT_BACKEND=CELERY_RESULT_BACKEND
CELERY_TIMEZONE=CELERY_TIMEZONE
TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=TELEGRAM_CHAT_ID

STRIPE_PUBLISHABLE_KEY=STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY